@model IEnumerable<QualityBooks.Models.Category>
@*
    @model QualityBooks.Models.Category
    @model Tuple<IEnumerable<QualityBooks.Models.Category> , QualityBooks.Models.Category>
*@
@{
    ViewData["Title"] = "Index";
}
<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" type="text/css" href="~/css/AdminUsermanger.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</asp:content>


<div id="subcontiner">
    <div class="maincontent-area">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Categories <b>Management</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a asp-action="Create" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateCateogry" ><i class="material-icons">&#xE147;</i>Add Category</a>
                            <!--   <a href="#" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                                    <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
                            -->
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.CategroyName)</td>
                            <td>Edit | Delete</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategroyName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="modal" data-target="#modalEditCateogry"><i class="material-icons edit">&#xe3c9;</i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="modal" data-target="#modalDeleteCateogry"><i class="material-icons delete">&#xe872;</i></a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
                <!--
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
                    -->
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalCreateCateogry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteCateogry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="modalEditCateogry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>



