@{
    ViewData["Title"] = "Confirm email";
}

<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">

</asp:content>

<div id="subcontiner">
    <div class="maincontent-area">
        <div class="container">
            <div class="row">
                <section>

                    <div class="container-login100" style="background-image: url('../images/Login/bg-02.jpg');">
                        <div class="wrap-login100 p-t-30 p-b-50">
                            <span class="login100-form-title p-b-41">
                                Confirm email
                            </span>
                                <div class="container-login100-form-btn m-t-32">
                                    <p style="color:white;">
                                            Thank you for confirming your email.
                                    </p>
                                </div>
                        </div>
                    </div>

                </section>
               
            </div>
        </div>
    </div>
</div>
