@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">

</asp:content>
<div id="subcontiner">
    <div class="maincontent-area">
        <div class="container">
            <div class="row">
                <section>

                    <div class="container-login100" style="background-image: url('../images/Login/bg-02.jpg');">
                        <div class="wrap-login100 p-t-30 p-b-50">
                            <span class="login100-form-title p-b-41">
                                Account Login
                            </span>
                            <form method="post" class="login100-form validate-form p-b-33 p-t-5">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Code" type="hidden" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="wrap-input100 validate-input form-group" data-validate="Enter E-mail">
                                        <input asp-for="Email" class="input100" type="text" placeholder="E-mail" />
                                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="wrap-input100 validate-input form-grou" data-validate="Enter password">
                                    <input asp-for="Password" class="input100" type="password" placeholder="Password" />
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="wrap-input100 validate-input form-grou" data-validate="Enter Confirm Password">
                                    <input asp-for="ConfirmPassword" class="input100" type="password" placeholder="ConfirmPassword"   />
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="container-login100-form-btn m-t-32">
                                    <button type="submit" class="login100-form-btn">
                                        Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}